.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

@each $breakpoint, $value in $breakpoints {

  @include breakpoint($breakpoint) {

    .#{$breakpoint}-block {
      display: block;
    }

    .#{$breakpoint}-inline-block {
      display: inline-block;
    }

    .#{$breakpoint}-inline {
      display: inline;
    }

    .#{$breakpoint}-flex {
      display: flex;
    }

    .#{$breakpoint}-grid {
      display: grid;
    }

  }

}