$displays: (
  "block",
  "inline-block",
  "inline",
  "flex",
  "grid"
) !default;

@each $property in $displays {

  .#{$property} {
    display: $property;
  }

  @each $breakpoint, $value in $breakpoints {

    @include breakpoint($breakpoint) {

      .#{$breakpoint}-#{$property} {
        display: $property;
      }

    }

  }

}
