$positions: (
  "static",
  "relative",
  "absolute",
  "fixed"
) !default;

@each $property in $positions {

  .#{$property} {
    position: $property;
  }

  @each $breakpoint, $value in $breakpoints {

    @include breakpoint($breakpoint) {

      .#{$breakpoint}-#{$property} {
        position: $property;
      }

    }

  }

}

.fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@each $breakpoint, $value in $breakpoints {

  @include breakpoint($breakpoint) {

    .#{$breakpoint}-fill {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  }

}

.stretch-x {
  width: 100%;
}

@each $breakpoint, $value in $breakpoints {

  @include breakpoint($breakpoint) {

    .#{$breakpoint}-stretch-x {
      width: 100%;
    }

  }

}

.stretch-y {
  height: 100%;
}

@each $breakpoint, $value in $breakpoints {

  @include breakpoint($breakpoint) {

    .#{$breakpoint}stretch-y {
      height: 100%;
    }

  }

}
