$positions: (
  "static",
  "relative",
  "absolute",
  "fixed"
) !default;

@each $property in $positions {

  .#{$property} {
    position: $property;
  }

  @each $breakpoint, $value in $breakpoints {

    @include breakpoint($breakpoint) {

      .#{$breakpoint}-#{$property} {
        position: $property;
      }

    }

  }

}
